
<!DOCTYPE html>
<html lang="en">
</head>
<style>

 

.containor{
    display: flex;
    background-color: royalblue;
    flex-direction: row;
    justify-content:space-between;
    padding: 0px;
    border: 1px solid black;
}
.welcomebox{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
} 
.containor1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  margin: 40px;
  border-radius: 5px;
}
.containor12{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  width: 350px;
  border-radius: 7px;
  border: solid black 1px;
}
.inputmail{
  padding: 3px;
  margin: 5px;
  width: 300px;
 display: flex;
 flex-direction:row;

}
.inputmailo{
  width: 225px;

}
.asdf{
  font-size: 135%;
}
.logingoogle{
  margin: 10px;
  padding: 5px;
  border:  solid black 2px;
  border-radius: 20px;
  background-color: green;
  color: white;
  text-align: center;
  width: 225px;
}
/* .fa fa-google{
  background-color: white;
  border: solid red 1px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  color:dodgerblue;
} */
.inputpass{
  padding: 3px;
  margin: 5px;
  width: 300px;
  display: flex;
  flex-direction:row;
}
.loginbtn{
  text-align: right;
}
.btn{
  background-color: dodgerblue;
  padding: 5px;
  margin: 5px;
  border: solid green 2px;
  border-radius: 15px;
}

</style>
<head>
<body>

</body>
</html>
